.column{
    padding: 110px 0 140px;
}

.category{
    background: #fff;
    border-radius: 100px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
}

.category p{
    color: var(--colorBlue);
    font-weight: 500;
    padding: 15px 40px 15px 0;
    border-right: solid 1px var(--colorBlue);
}

.category_label_sp{
    display: none;
}

.category_flex{
    display: flex;
    align-items: center;
    gap: 10px;
}

.category_btn{
    color: var(--colorBlue);
    background: var(--colorBlueLight);
    font-weight: 500;
    letter-spacing: 1.6px;
    padding: 3px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    border: solid 1px var(--colorBlueLight);
}

.category_btn:hover{
    background: #00000000;
    border: solid 1px var(--colorBlue);
}

.category_btn.category_active{
    background: #00000000;
    border: solid 1px var(--colorBlue);
}

.column_content{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 80px 0;
}

.column_item{
    width: calc((100% - 120px) / 3);
    transition: 0.3s;
}

.column_item:hover{
    opacity: .8;
}

.column_img img{
    height: 240px;
    object-fit: cover;
}

.column_text{
    background: #fff;
    padding: 20px 20px 40px;
}

.column_text_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column_date{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.column_category{
    color: var(--colorBlue);
    background: var(--colorBlueLight);
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    padding: 0 10px;
}

.column_title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-top: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.pagination ul.page-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.page-numbers.current{
    color: var(--colorBlue);
}

.prev, .next {
    display: block;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    transition: 0.3s;
}

.prev::before ,
.next::before {
    content: '';
    width: 6px;
    height: 6px;
    border: 1px solid var(--colorBlue);
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: 28%;
    box-sizing: border-box;
    transition: 0.3s;
}

.prev::before{
    transform: rotate(-135deg);
    top: 49%;
    right: 69%;
}

.prev div ,
.next div {
    content: '';
    width: 10px;
    height: 1px;
    position: absolute;
    top: 48%;
    right: 32%;
    background-color: var(--colorBlue);
    transition: 0.3s;
}

.prev:hover,
.next:hover{
    background: var(--colorBlue);
}

.prev:hover::before,
.next:hover::before{
    border: 1px solid #fff;
    border-left: 0;
    border-bottom: 0;
}

.prev:hover div,
.next:hover div{
    background-color: #fff;
}

@media (max-width: 1024px) {
    .category{
        border-radius: 20px;
        padding: 20px 30px;
    }

    .category_flex{
        flex-wrap: wrap;
        gap: 20px;
    }

    .category_label{
        display: none;
    }

    .category_label_sp{
        display: block;
        padding: 5px 20px 5px 0;
    }

    .category_btn{
        padding: 3px 15px;
    }

    .column_content{
        gap: 40px;
    }

    .column_item{
        width: calc((100% - 40px) / 2);
    }
}

@media (max-width: 767px) {
    .column{
        padding: 10px 0 80px;
    }

    .secTitleEn,
    .pageTitle{
        text-align: center;
    }

    .category{
        padding: 20px;
        border-radius: 20px;
        margin-top: 50px;
    }
    
    
    .category_flex{
        flex-wrap: wrap;
        gap: 15px;
    }
    
    .category p{
        padding: 5px 20px 5px 0;
    }
    
    .category_btn{
        padding: 0px 15px;
    }

    .column_content{
        margin: 60px 0;
        gap: 20px;
    }

    .column_item {
        width: 100%;
    }

    .column_text{
        padding: 20px 20px 30px;
    }
}