body{
    position: relative;
}

.header_top{
    color: #fff;
    background: none;
    z-index: 1000;
    position: absolute;
    top: 0;
    justify-content: end;
}

.header_top .current {
    color: #fff;
    border-bottom: solid 2px #fff;
}

.header_top .header_nav a::after{
    background: #fff;
}

.header_top .header_nav li .sub-menu{
    background-color: #00000080;
}

.header_top .header_nav li .sub-menu li a{
    color: #fff;
}

.header_fixed {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.header_fixed.show {
    display: flex;
    opacity: 1;
}


.kv_movie{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.kv_movie_sp{
    display: none;
}

@media (max-width: 767px) {
    .kv_movie{
        display: none;
    }

    .kv_movie_sp{
        display: block;
    }
}