@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap');

/* --------------------
    基本設定
-------------------- */
:root {
    /* 色 */
    --colorBlack: #333;
    --colorBlue: #12577D;
    --colorBlueDark: #508CA5;
    --colorBlueLight: #DCE6F0;
    --colorRed: #B10F0F;
    --colorWhite: #fff;
    --colorWhiteBg: #FAFAFF;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    background-color: var(--colorBlueLight);
    color: var(--colorBlack);
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: .05em;
    line-height: 1.87;
    /* fade-in */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* fade-in */
body.loaded {
    opacity: 1;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 1300px) {
    .wrapper
    {
        max-width: 90%;
    }
}

.under_page_main{
    padding-top: 115px;
}

@media (max-width: 767px) {
    .under_page_main{
        padding-top: 85px;
    }
}

.for-sp {
    display: none;
}

@media screen and (max-width: 767px) {
    .for-sp {
        display: block;
    }
    .for-pc {
        display: none !important;
    }
}

/* --------------------
    共通パーツ
-------------------- */
.pageTitle{ /* ページタイトル */
    color: var(--colorBlack);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.09rem;
}

.secTitle{ /* セクションタイトル */
    color: var(--colorBlack);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.05rem;
}

.section_text{ /* セクションタイトル下テキスト */
    margin-top: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.secTitleEn{ /* 英語タイトル */
    color: var(--colorBlue);
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05rem;
    padding-bottom: 10px;
}

.paragraph700{ /* ボールドテキスト */
    color: var(--colorBlack);
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.05rem;
}

.paragraph500{ /* ミディアムテキスト */
    color: var(--colorBlack);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
    letter-spacing: 0.05rem;
}

@media (max-width: 767px) {
    .section_text{
        text-align: left;
    }
}

/* --------------------
    Before / After
-------------------- */
.works_ba {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    aspect-ratio: 76 / 50;
    object-fit: cover;
}

.works_annotation{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    margin-top: 20px;
}

.box_before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    border-right: 5px solid rgba(255, 255, 255, 0.7);
    box-shadow: 10px 0 15px -13px #000;
}

.box_before img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

.box_before::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    right: -26px;
    bottom: 0;
    width: 45px;
    height: 45px;
    margin: auto;
    border: 5px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    box-shadow: 10px 0 15px -13px #000;
}

.box_after {
    height: 100%;
}

.box_after img{
    height: 100%;
    object-fit: cover;
}

.box_before .label,
.box_after .label{
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05rem;
    position: absolute;
    left: 10px;
    bottom: 10px;
    transition: 0.3s;
}

.box_after .label{
    left: auto;
    right: 10px;
}

.slider_range {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: col-resize;
}

@media screen and (max-width:1024px){
    .works_ba {
        height: auto;
    }
}

@media screen and (max-width:767px){
    .box_before .label,
    .box_after .label{
        font-size: 16px;
    }
}

/* --------------------
    下層header
-------------------- */
header{
    z-index: 999;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-weight: 700;
    color: var(--colorBlue);
    background: var(--colorBlueLight);
}

.header_menu{
    display: flex;
    gap: 30px;
    align-items: center;
}

.header_nav{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header_nav a {
    position: relative;
}

.header_nav a::after {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 2px;
    background: var(--colorBlue);
    bottom: -10px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
}

.header_nav .sub-menu a::after{
    bottom: -5px;
}

.header_nav a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.header_nav li {
    position: relative;
    cursor: pointer;
}

.header_nav li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.header_nav li:hover .sub-menu {
    display: block;
    width: 140px;
    padding: 15px;
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: 15px;
}

.header_nav li .sub-menu li a {
    display: block;
    color: var(--colorBlue);
    text-decoration: none;
}

header .current{
    color: var(--colorBlue);
    position: relative;
    top: 3px;
    border-bottom: solid 2px  var(--colorBlue);
    padding-bottom: 4px;
}

.header_arrow{
    display: inline-block;
    vertical-align: middle;
    color: var(--colorBlue);
    line-height: 1;
    width: 8px;
    height: 8px;
    border: 2px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
    margin-left: 10px;
}

.header_top .header_arrow{
    color: #fff;
}

.header_btn{
    width: 160px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: var(--colorBlue);
    border-radius: 50px;
    transition: 0.3s;
}

.header_btn:hover{
    color: var(--colorBlue);
    background: #fff;
}

.header_tel{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header_tel_number{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: -10px;
}

.header_tel_open span{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .05em;
    padding-left: 5px;
}

@media (max-width: 1200px) {
    .header_nav,
    .header_tel{
        display: none;
    }
}

@media (max-width: 767px) {
    header{
        padding: 10px 20px;
        align-items: center;
        height: 60px;
    }

    .header_logo{
        width: 60px;
    }

    .header_menu{
        gap: 20px;
    }

    .header_btn{
        width: 130px;
        height: 30px;
        font-size: 14px;
    }
}

/* --------------------
    hamburger
-------------------- */
.hamburger-menu,
.navigation{
    display: none;
}

.no-scroll {
    overflow: hidden;
}

@media (max-width: 1200px) {
    .hamburger-menu {
        display: block;
        width: 20px;
        height: 15px;
        position: relative;
        border: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
        cursor: pointer;
        z-index: 1000;
    }

    .hamburger-menu__bar {
        display: inline-block;
        width: 100%;
        height: 2px;
        background: var(--colorBlue);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
    }

    .hamburger-menu__bar:first-child {
        top: 0;
    }

    .hamburger-menu__bar:nth-child(2) {
        top: 6px;
    }

    .hamburger-menu__bar:last-child {
        bottom: 0;
    }

    .hamburger-menu--open .hamburger-menu__bar {
        top: 50%;
    }

    .hamburger-menu--open .hamburger-menu__bar:first-child {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    .hamburger-menu--open .hamburger-menu__bar:last-child {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
        display: none;
    }

    .navigation {
        display: none;
        background: #242424;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        background: var(--colorWhiteBg);
        z-index: 999;
    }

    .navigation__list {
        width: 80%;
        margin: 5vh auto 0;
        display: flex;
        flex-flow: column;
        gap: 10px;
    }

    .header_top .navigation__list {
        height: 100dvh;
        overflow-y: scroll;
    }

    .navigation__list-item {
        color: var(--colorBlue);
        font-size: 16px;
        font-weight: 700;
        letter-spacing: .01em;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--colorBlueLight);
    }

    .navigation__works{
        font-size: 16px;
        font-weight: 400;
        margin-left: 30px;
        padding-top: 10px;
        display: flex;
        flex-flow: column;
        gap: 10px;
    }

    .navigation__works a::before{
        content: "";
        display: inline-block;
        background: var(--colorBlueLight);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .navigation__link {
        color: var(--colorBlue);
        text-decoration: none;
        display: block;
        transition: 0.5s;
    }

    .navigation__link:hover {
        opacity: 0.6;
    }

    .hamburger_tel{
        color: var(--colorBlue);
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .hamburger_btn{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: var(--colorBlue);
        border-radius: 50px;
        transition: 0.3s;
    }
    
    .hamburger_btn:hover{
        color: var(--colorBlue);
        background: #fff;
    }
}

/* --------------------
    title animation
-------------------- */
.fadein_up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fadein_up.show {
    opacity: 1;
    transform: translateY(0);
}

.fadein_up_second{
    transition-delay: 0.3s;
}

/* --------------------
    フッター
-------------------- */
/* 見積もりフォーム */
#contact{
    background-color: var(--colorWhiteBg);
    padding: 90px 0;
}

.contact_wrapper{
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

.contact_left{
    /* width: 45%; */
    padding-right: 90px;
}

.contact_left p{
    margin-top: 60px;
    text-align: justify;
}

.footer_button{
    background-color: #fff0;
    border: solid 3px var(--colorBlue);
    border-radius: 10px;
    color: var(--colorBlue);
    display: block;
    /* height: 120px; */
    line-height: 1.2;
    margin-top: 110px;
    padding-top: 0.8em;
    padding-bottom: 0.9em;
    /* padding-left: 4em; */
    position: relative;
    text-align: center;
    transition-duration: 0.3s;
}

.footer_button:hover{
    background-color: var(--colorBlue);
    color: var(--colorWhite);
}

.footer_tel{
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.02rem;
    margin-left: 0.7em;
    position: relative;
}

.footer_tel::after{
    background-image: url(../images/common/tel_blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 26px;
    position: absolute;
    top: 0.4em;
    left: -0.7em;
    width: 26px;
    transition-duration: 0.3s;
}

.footer_button:hover .footer_tel::after{
    background-image: url(../images/common/tel_white.svg);
}

.footer_time{
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin-left: 0.2em;
}

.footer_except{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.contact_right{
    /* width: 55%; */
    border: solid 3px var(--colorBlue);
    border-radius: 10px;
}

.form_title{
    background-color: var(--colorBlue);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_title h4{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
}

.form_title h4 .yellow{
    color: #FFE554;
    font-size: 40px;
    line-height: 1;
    margin-right: 0.1em;
}

.form_title .aimitsu{
    background-color: var(--colorWhite);
    border-radius: 100px;
    color: var(--colorBlue);
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-top: 15px;
    padding: 0.5em 1.1em;
    text-align: center;
}

.form_content{
    padding: 40px 90px 60px 70px;
}

.form_row p{
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    margin-top: 20px;
}

.form_row.name p{
    margin-top: 0;
}

.form_row.consultation p{
    align-items: flex-start;
}

.form_row label{
    color: var(--colorBlue);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.03rem;
    line-height: 1;
    display: flex;
    align-items: center;
}

.form_row .checkbox label{
    font-size: 20px;
    padding-left: 5px;
    position: relative;
}

.form_row input[type="text"],
.form_row input[type="tel"],
.form_row input[type="email"]{
    width: -webkit-fill-available;
    background-color: #E1E1EB;
    border: 0;
    border-radius: 5px;
    height: 50px;
    padding: 0.5em 1em;
    color: var(--colorBlack);
    font-size: 20px;
    font-weight: 700;
}

.kome{
    display: inline-block;
    color: #fff;
    font-size: 12px;
    background: var(--colorRed);
    padding: 3px 5px;
    border-radius: 3px;
    margin-right: 10px;
    height: 20px;
    margin-top: 5px;
}

.form_row .checkbox .wpcf7-list-item{
    margin: 0 15px 5px 20px;
}

.form_row .checkbox input{
    /* appearance: none; */
    display: none;
} 

.form_row .checkbox label:before{
    content: "";
    width: 20px;
    height: 20px;
    border: solid 2px var(--colorBlue);
    border-radius: 4px;
    position: absolute;
    top: 1px;
    left: -1em;
}

.form_row .checkbox .wpcf7-list-item-label:after{
    content: "";
    width: 8px;
    height: 12px;
    border-right: solid 2px var(--colorBlue);
    border-bottom: solid 2px var(--colorBlue);
    position: absolute;
    top: 3px;
    left: -0.7em;
    transform: rotate(45deg);
    opacity: 0;
}

.form_row .checkbox input[type="checkbox"]:checked + .wpcf7-list-item-label:after{
    opacity: 1;
}

.footer_send{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer_send p{
    width: 340px;
    position: relative;
}

.footer_send p input[type="submit"]{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;

    background-color: var(--colorRed);
    border: solid 2px var(--colorRed);
    border-radius: 100px;
    color: var(--colorWhite);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    width: 100%;
    height: 60px;
    transition-duration: 0.3s;
}

.footer_send p:hover input[type="submit"]{
    background-color: var(--colorWhiteBg);
    color: var(--colorRed);
}

.wpcf7-spinner{
    display: none;
}

.footer_send p::after{
    background-image: url(../images/common/icon_send_wh.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 40px;
    position: absolute;
    top: 0.7em;
    left: 30px;
    width: 40px;
    transition-duration: 0.3s;
}

.footer_send p:hover::after{
    background-image: url(../images/common/icon_send_red.png);
}

/* リンク */
.footer_logo{
    width: 170px;
}

.footer_text{
    color: var(--colorWhite);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.7;
}

footer{
    background-color: var(--colorBlueDark);
}

.footer_wrapper{
    padding: 80px 0 50px;
    display: grid;
    grid-template-columns: 45% 55%;
    max-width: 80%;
    margin: 0 auto;
}

.footer_left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-right: 6vw;
}

.footer_right{
    display: flex;
    justify-content: flex-end;
    column-gap: 4.6vw;
}

.footer_right h4{
    color: var(--colorWhite);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05rem;
    line-height: 1.7;
}

.footer_right h4:not(:first-child){
    margin-top: 10px;
}

.footer_link{
    color: var(--colorWhite);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05rem;
    line-height: 1.7;
    display: flex;
    column-gap: 4.6vw;
}

.footer_link li:not(:first-child){
    margin-top: 1em;
}

.footer_right a{
    transition-duration: 0.3s;
}

.footer_right a:hover{
    opacity: 0.7;
}

.link_lower{
    padding-left: 1em;
    position: relative;
}

.link_lower::before{
    background-color: var(--colorWhite);
    content: "";
    width: 10px;
    height: 1px;
    position: absolute;
    top: 8px;
    left: 0;
}

.copyright{
    background-color: var(--colorBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.copyright p{
    color: var(--colorWhite);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

@media screen and (max-width:1400px){
    /* リンク */
    .footer_wrapper{
        /* max-width: 90%; */
    }
}

@media screen and (max-width:1300px){
    /* 見積もりフォーム */
    .contact_wrapper{
        max-width: 90%;
    }

    .footer_tel{
        font-size: 38px;
    }
}

@media screen and (max-width:1024px){
    /* 見積もりフォーム */
    .contact_wrapper{
        grid-template-columns: 100%;
        row-gap: 60px;
    }

    .contact_left{
        padding-right: 0;
    }

    .contact_left p{
        margin-top: 50px;
    }

    .footer_button{
        margin-top: 40px;
    }

    /* リンク */
    .footer_wrapper{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .footer_left{
        padding-right: 0;
    }

    .footer_right{
        justify-content: flex-start;
    }

    .footer_link{
        column-gap: 30px;
    }
}

@media screen and (max-width:767px){
    /* 見積もりフォーム */
    #contact{
        padding: 80px 0;
    }

    .contact_title{
        text-align: center;
    }

    .footer_wrapper{
        grid-template-columns: 1fr;
    }

    .footer_button{
        padding-top: 0.5em;
        padding-bottom: 0.6em;
    }

    .footer_time{
        font-size: 20px;
    }

    .footer_except{
        font-size: 14px;
    }

    .footer_tel::after{
        width: 22px;
        height: 22px;
    }

    .form_title{
        padding: 30px 37px;
    }

    .form_title h4{
        line-height: initial;
    }

    .form_title h4 .yellow{
        margin-right: 0;
    }

    .form_title .aimitsu{
        padding: 0.5em 0;
        width: 100%;
    }

    .form_content{
        padding: 30px 20px 40px;
    }

    .form_row p{
        grid-template-columns: 100%;
        row-gap: 10px;
    }

    .form_row .checkbox .wpcf7-list-item{
        margin: 0 10px 5px 20px;
    }

    .footer_send p::after{
        width: 30px;
        height: 30px;
        top: 0.9em;
        left: 25px;
    }

    /* リンク */
    .footer_wrapper{
        padding: 40px 0 60px;
    }

    .footer_logo{
        width: 120px;
    }

    .footer_right{
        flex-direction: column;
        row-gap: 50px;
    }
}

/* --------------------
    flow text
-------------------- */
.flow_deco {
    overflow: hidden;
    display: flex;
    /* width: 100vw; */
    /* margin-inline: calc(50% - 50vw); */
    /* position: absolute; */
    width: 100%;
    /* margin-inline: calc(50% - 50vw); */
    top: -190px;
    position: absolute;
}

.flow_deco_item {
    /* flex-shrink: 0; */
    flex: 0 0 auto;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;;
    font-size: 335px;
    font-weight: 700;
    letter-spacing: .025em;
    color: var(--colorBlueLight);
    padding-right: 60px;
    will-change: transform;
    width: 2501px;
}

.flow_deco_item:nth-child(odd) {
    animation: loop 24s -12s infinite linear;
}

.flow_deco_item:nth-child(even) {
    animation: loop2 24s infinite linear;
}

@keyframes flow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes MoveLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes MoveLeft2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

@keyframes loop {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

@media (max-width: 1024px) {
    .flow_deco{
        top: -112px;
    }
    
    .flow_deco_item{
        font-size: 200px;
        width: 1517px;
    }
}

@media (max-width: 767px) {
    .flow_deco {
        top: -85px;
    }

    .flow_deco_item{
        font-size: 150px;
        width: 1153px;
    }
}